h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Bahnschrift", monospace;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.subtitulo {
  opacity: 0.78;
}

.minititulo {
  text-transform: uppercase;
  font-family: "Bahnschrift", monospace;
  letter-spacing: 2px;
  font-weight: bold;
}
